.ShowResult {
  background-color: orange;
  border: none;
  padding: 20px;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 20px auto;
  width: 250px;
  box-sizing: border-box;
  box-shadow: 0 2px 2px #ccc;
}

.ShowResult:hover,
.ShowResult:active {
  background-color: #df6603;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  border: 1px solid #eee;
  padding: 20px;
  width: 150px;
  font-size: 1.3rem;
  font-weight: bold;
  box-shadow: 0px 2px 2px #ccc;
  display: flex;
  flex-flow: column;
  margin: 20px auto;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
}

li:hover,
li:active {
  background-color: #eee
}