.Counter {}

.Counter button {
  margin: 20px 0;
  padding: 20px;
  background-color: #fa923f;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  box-shadow: 0 2px 2px #ccc;
  cursor: pointer;
}

.Counter button:hover,
.Counter button:active {
  background-color: #e97516;
}

.Counter ul {
  list-style: none;
  margin-left: -50px;
}

.Counter li {
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
  padding: 20px;
  margin: 16px;
  width: 150px;
  font-weight: bold;
  box-sizing: border-box;
  display: inline-block;
}