.box {
  width: 500px;
  height: 450px;
  margin: auto;
}

.bread-top {
  background: linear-gradient(#bc581e, #e27b36);
  width: 80%;
  height: 20%;
  margin: 2% auto;
  border-radius: 50% 50% 0 0;
  box-shadow: inset -15px 0 #c15711;
}

.salad {
  background: linear-gradient(#228c1d, #91ce50);
  width: 90%;
  height: 7%;
  margin: 2% auto;
  border-radius: 20px;
}

.bread-bottom {
  background: linear-gradient(#f08e4a, #e27b36);
  width: 80%;
  height: 13%;
  margin: 2% auto;
  border-radius: 0 0 30px 30px;
  box-shadow: inset -15px 0 #c15711;
}